{% extends 'movies/base.html' %}
{% load static %}
{% block css_files %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'vendor/slick/slick.min.css' %}"/>
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'vendor/slick/slick-theme.min.css' %}"/>
{% endblock  %}
{% block page_title %}Index{% endblock  %}
{% block content %}
    {% comment %} <h1>Index</h1> {% endcomment %}
    <div id="wrapper">

        {% comment %} partials -> slidebar.html {% endcomment %}
        {% include 'partials/_sidebar.html' %}




        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                {% comment %} nav {% endcomment %}
                {% include 'partials/_topbar.html' %}



                <div class="container-fluid">
                    <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-3">
                        
                    {% comment %} slider {% endcomment %}
                    
                    {% include 'partials/_slider.html' %}
                    </div>
                    {% comment %} başlık {% endcomment %}
                    {% comment %} <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-3">
                        <h1 class="h5 mb-0 text-gray-900">
                            Movies
                        </h1>
                        <a href="movies.html" class="d-none d-sm-inline-block text-xs">View All <i class="fas fa-eye fa-sm"></i></a>
                    </div> {% endcomment %}
                    {% comment %} filmler {% endcomment %}
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                 {% for movie in movies %}

                                <div class="col-xl-3 col-md-4 mb-4">
                                    
                                        {% include 'partials/_movie.html' %}
                                </div>
                          
                                {% endfor %}
                            </div>
                        </div>
                   </div>
    </div>







{% comment %} slider.html {% endcomment %}
{% include 'partials/_footer.html' %}


</div>
</div>


{% endblock  %}
