{% load static %}
<ul class="navbar-nav sidebar sidebar-dark accordion"
    id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
       href="{% url 'home_page' %}">
        <div class="sidebar-brand-icon">
            <img src="{% static 'img/logo-icon.png' %}" alt="">
        </div>
        <div class="sidebar-brand-text mx-3">
            {% comment %} <img src="{% static 'img/logo.png' %}" alt=""> {% endcomment %}
            <h4>MOVIEAPP</h4>
        </div>
    </a>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'movies_page' %}">
            <i class="fas fa-fw fa-film"></i>
            <span>Movies</span>
        </a>
    </li>

</ul>
